#effectiveBody {
    margin-top: 60px;
}

.table-responsive-md {
    padding: 20px 0 10px 0;
}

tbody tr {
    display: none;
}

tbody tr:nth-child(n + 1):nth-child(-n + 20) {
    display: table-row;
}

i {
    cursor: pointer;
}

#divLoadMore {
    text-align: center; 
 }
