/* body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

tbody tr {
    display: none;
}

tbody tr:nth-child(n + 1):nth-child(-n + 20) {
    display: table-row;
}

i {
    cursor: pointer;
}
