/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
}

/*====  VARIABLES ============================ */
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-project: rgb(1, 116, 119);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.5rem;
  --subtitle-font-size: 1rem;

  --title-font: "Poppins", sans-serif;
  --body-font: "DM Sans", sans-serif;
}

/*===  BASE ============================ */
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.button,
button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--title-font);
  transition: background 0.3s;
}
.btn-second {
  width: 100%;
  background-color: var(--text-color-light);
  color: var(--base-color);
  height: 3.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--title-font);
  transition: background 0.3s;
  outline-offset: var(--base-color);
}
.button a {
  color: var(--text-color-light);
  text-decoration: none;
  text-decoration-color: none;
}
.button:hover {
  background: var(--base-color-alt);
}
.btn-second:hover {
  color: var(--text-color-light);
  background: var(--base-color);
}
/*====  LAYOUT ============================ */
.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.section {
  padding: calc(5rem + var(--header-height)) 0;
}

.section header {
  margin-bottom: 4rem;
}

.section header strong {
  color: var(--base-color);
}

#header {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

/*====  LOGO ============================ */
.logo {
  margin-bottom: 1.75rem;
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.logo-alt span {
  color: var(--body-color);
}

/* login */
#login .container {
  position: relative;
  grid-auto-flow: column;
  justify-content: space-between;
  margin: 0 auto;
}

#login.entrar {
  order: 0;
  max-width: 24rem;
  text-align: right;
  /* margin-right: 15.5rem; */
}

#login .entrar {
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 22.6rem;
}
#login .entrar h1 {
  margin-top: 2.43rem;
  margin-bottom: 2.43rem;
  justify-content: center;
  align-items: center;
  font-family: var(--title-font);
  font-size: var(--title-font-size);
  font-weight: bold;
}

#login .entrar input {
  width: 22.6rem;
  height: 2.5rem;
  margin-bottom: 1.25rem;
}

#login .entrar .button svg,
#login .entrar .button-2 svg {
  margin-right: 0.62rem;
}

@media (min-width: 1200px) {
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin: 1rem;
    /* margin-top: 1rem;
    margin-left: 1rem;
    margin-right: auto; */
  }

  .section {
    padding: 10rem 0;
  }

  .section header {
    max-width: 32rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .button {
    height: 3.125rem;
  }
}
/* large devices: 1023 > */
@media (min-width: 1023px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}
/* large devices: 992 > */
@media (min-width: 992px) {
  :root {
    --title-font-size: 2.25rem;
    --subtitle-font-size: 1.125rem;
  }
}

/*------- MODAL - SIGN-UP --------*/
.btn-custom {
  width: auto;
  /* background-color: var(--base-color-project); */
}
.form-control:focus {
  border-color: #84ff8f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(37, 146, 46, 0.6);
}
