$my-invalid-color: #dc3545;
$my-form-icon-invalid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='#{$my-invalid-color}'><circle cx='6' cy='6' r='4.5'/><path stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/><circle cx='6' cy='8.2' r='.6' fill='#{$my-invalid-color}' stroke='none'/></svg>");
$form-validation-states: (
    "invalid": (
        "color": $my-invalid-color,
        "icon": $my-form-icon-invalid,
    ),
);
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
